<div id="movies-list">
  <div class="content">
    <ul class="movies">
      {{#each movies}}{{> moviebox}}{{/each}}
    </ul>
    <ul class="dirs">
      {{#each dirs}}{{> urlbox}}{{/each}}
    </ul>
  </div>
</div>
