<li><a href="/play/{{this.url}}">
    <video preload="none"> <source src="/movies/{{this.url}}" type="video/mp4"></video>
    <div class="progressbar"><div class="progress"></div></div>
    <div class="meta">
      <h2>{{fn2name this.name}}</h2>
      <div class="duration"></div>
    </div>
</a></li>
