[Unit]
Description=Videoportal

[Service]
ExecStart=/home/denis/www/videoportal/app.js
Restart=always
User=www-data
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=www-data
Environment=PATH=/usr/bin:/usr/local/bin
Environment=ENV=production
WorkingDirectory=/home/denis/www/videoportal

[Install]
WantedBy=multi-user.target
