<ul class="remotecontrols"></ul>
<div id="video-holder">
  <video controls>
    <source src="" type="">
  </video>
</div>
{{{{rawPartial "remotecontrolbox" "templateRemoteControlBox"}}}}{{{{/rawPartial}}}}
