<div id="remoteControl">
  <div class="buttons">
    <button class="previous" disabled="disabled"><span class="icon material-icons-outlined">skip_previous</span></button>
    <button class="rewind" disabled="disabled"><span class="icon material-icons-outlined">fast_rewind</span></button>
    <button class="play-stop" disabled="disabled"><span class="icon material-icons-outlined">play_circle</span></button>
    <button class="forward" disabled="disabled"><span class="icon material-icons-outlined">fast_forward</span></button>
    <button class="next" disabled="disabled"><span class="icon material-icons-outlined">skip_next</span></button>
  </div>
  <div class="status"></div>
  <div class="movie"></div>
</div>
{{> movieslist }}
{{{{rawPartial "moviebox" "templateVideoBox"}}}}{{{{/rawPartial}}}}
{{{{rawPartial "urlbox" "templateUrlBox"}}}}{{{{/rawPartial}}}}
