<div id="remoteControl">
  <div class="buttons">
    <button class="rewind" disabled="disabled"><span>&#9668;</span><span>&#9668;</span></button>
    <button class="play-stop" disabled="disabled"><span>&#9658;</span></button>
    <button class="forward" disabled="disabled"><span>&#9658;</span><span>&#9658;</span></button>
  </div>
  <div class="status"></div>
  <div class="movie"></div>
</div>
{{> movieslist }}
{{{{rawPartial "moviebox" "templateVideoBox"}}}}{{{{/rawPartial}}}}
{{{{rawPartial "urlbox" "templateUrlBox"}}}}{{{{/rawPartial}}}}
