<div id="remoteControl">
  <button id="play-stop" disabled="disabled">Play</button>
</div>
{{> movieslist }}
{{{{rawPartial "moviebox" "templateVideoBox"}}}}{{{{/rawPartial}}}}
{{{{rawPartial "urlbox" "templateUrlBox"}}}}{{{{/rawPartial}}}}
