<div id="remoteControl">
  <button class="play-stop" disabled="disabled">Play</button>
  <div class="movie"></div>
</div>
{{> movieslist }}
{{{{rawPartial "moviebox" "templateVideoBox"}}}}{{{{/rawPartial}}}}
{{{{rawPartial "urlbox" "templateUrlBox"}}}}{{{{/rawPartial}}}}
